.educations-header {
  font-size: 40px;
  line-height: 1.1;
  font-family: "Google Sans Regular";
  text-align: center;
  padding-left: 200px;
}

@media (max-width: 1380px) {
  .educations-header {
    font-size: 35px;
    padding-left: 0px;
  }
}

@media (max-width: 768px) {
  .educations-header {
    font-size: 30px;
    padding-left: 0px;
  }
}
